ISS_tracker_node_redflow.json
[{"id":"35e30c6a.89eec4","type":"inject","z":"e3682ca.6950ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["6ece7afd.373004","90c6b766.6d5a48"]]},{"id":"6ece7afd.373004","type":"delay","z":"e3682ca.6950ed","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":160,"wires":[["e94e2298.09937"]]},{"id":"e94e2298.09937","type":"http request","z":"e3682ca.6950ed","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.open-notify.org/iss-now.json","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":160,"wires":[["438e24aa.00ecbc","9eddc298.5d7ea"]]},{"id":"446de660.9f1c68","type":"function","z":"e3682ca.6950ed","name":"","func":"var crewnames = \"\";\nvar i;\nvar crew = \"\";\nfor (i=0; i<msg.payload.number;i++){\n    crew = crew + msg.payload.people[i].name +\", \";\n}\ncrew = crew.slice(0,-2);\nflow.set('crewcount',msg.payload.number);\nflow.set('crew',crew);\ncrewnames = {payload:crew};\nreturn crewnames;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":280,"wires":[["9eddc298.5d7ea"]]},{"id":"450d560a.2e54b8","type":"worldmap","z":"e3682ca.6950ed","name":"ISS Tracker","lat":"","lon":"","zoom":"3","layer":"Esri Terrain","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":980,"y":160,"wires":[]},{"id":"90c6b766.6d5a48","type":"http request","z":"e3682ca.6950ed","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.open-notify.org/astros.json","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":280,"wires":[["446de660.9f1c68"]]},{"id":"438e24aa.00ecbc","type":"function","z":"e3682ca.6950ed","name":"","func":"var iss = \"ISS\";\nvar lat = msg.payload.iss_position.latitude;\nvar lon = msg.payload.iss_position.longitude;\nvar icon = \"iss\";\nvar tooltip = flow.get('crew');\nvar label = \"Crew : \" + flow.get('crewcount').toString();\nmsg.payload = {\"name\":iss,\n                \"lat\":lat,\n                \"lon\":lon,\n                \"icon\":icon,\n                \"Crew members\":tooltip,\n                \"label\":label};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":160,"wires":[["450d560a.2e54b8"]]},{"id":"9eddc298.5d7ea","type":"debug","z":"e3682ca.6950ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":300,"wires":[]}]